[
      {rabbit, [
            {tcp_listeners,    [5672]},
            {default_pass, <<"herron">>},
            {default_user, <<"noah">>}
      ]},
      {rabbitmq_mqtt, [
            {allow_anonymous,  true},
            {vhost,            <<"/">>},
            {exchange,         <<"testExchange">>},
            {subscription_ttl, 1800000},
            {prefetch,         10},
            {ssl_listeners,    []},
            {tcp_listeners,    [1883]},
            {tcp_listen_options, [
                  {backlog,   128},
                  {nodelay,   true}
            ]}
      ]}
].
